In [18]:
#                    Numpy Data Analyzation project (Basics with numpy)

# ---> In this basic project we are going to deal with a data set (taxis data) , lets answer some questions with the help
#      of numpy

# this will give you a vision for 'how to deal with rthe datasets'

# We are going to analyse a cab drive to an dfrom the airport of new york city
# having a dataset of taxis including fees , pick-up time , location and many more

# importing necessory python modules
import numpy as np
import pandas as pd
# importing taxis dataset
#taxi_data = np.genfromtxt('taxi_data.csv',delimiter=',', skip_header=True)

Load_taxi_data = pd.read_csv('taxi_data.csv')
print(Load_taxi_data)
print()

       pickup_year  pickup_month  pickup_day  pickup_dayofweek  pickup_time  \
0             2016             1           1                 5            0
1             2016             1           1                 5            0
2             2016             1           1                 5            0
3             2016             1           1                 5            0
4             2016             1           1                 5            0
...            ...           ...         ...               ...          ...
89555         2016             6          30                 4            5
89556         2016             6          30                 4            5
89557         2016             6          30                 4            5
89558         2016             6          30                 4            5
89559         2016             6          30                 4            5

       pickup_location_code  dropoff_location_code  trip_distance  \
0                         2                      4          21.00
1                         2                      1          16.29
2                         2                      6          12.70
3                         2                      6           8.70
4                         2                      6           5.56
...                     ...                    ...            ...
89555                     3                      4           9.50
89556                     2                      4          19.80
89557                     2                      4          17.48
89558                     2                      6          12.76
89559                     2                      0          17.54

       trip_length  fare_amount  fees_amount  tolls_amount  tip_amount  \
0             2037         52.0          0.8          5.54       11.65
1             1520         45.0          1.3          0.00        8.00
2             1462         36.5          1.3          0.00        0.00
3             1210         26.0          1.3          0.00        5.46
4              759         17.5          1.3          0.00        0.00
...            ...          ...          ...           ...         ...
89555         1989         31.0          1.3          5.54        3.00
89556         2368         52.0          0.8          5.54        0.00
89557         2822         52.0          0.8          5.54        5.00
89558         1083         34.5          1.3          0.00        8.95
89559         1711         48.0          1.3          5.54        0.00

       total_amount  payment_type
0             69.99             1
1             54.30             1
2             37.80             2
3             32.76             1
4             18.80             2
...             ...           ...
89555         40.84             1
89556         58.34             1
89557         63.34             1
89558         44.75             1
89559         54.84             2

[89560 rows x 15 columns]

In [25]:
# Q1)   we have to calculate mean speed for all the cabs:
# ------->
# as we don't have any col for speed but we have trip_distance and trip_length --> speed = distance / time
# we have trip_length in seconds so convert it to hrs 
speed = Load_taxi_data['trip_distance'] / (Load_taxi_data['trip_length']/3600)  # speed will be in miles per hrs
speed.head()

# now for mean speed
mean_speed = speed.mean()
print('the mean speed for all the cabs :', mean_speed)

the mean speed for all the cabs : 32.24258580925637

In [51]:
# Q2) Calculate the no. of rides teken in month March which is denoted 3 in the pickup_month col
# ------>

# for this we are going to extract the values for the march(3) and take a count of it
# so in order to extract to this we are going to use "boolean algebra" for the required rows 
# now take the month col

taxi_data = np.genfromtxt('taxi_data.csv',delimiter=',', skip_header=True)
taxi_data
March_rides = taxi_data[taxi_data[:,1] == 3 , 1]
print('Total rides in March :', March_rides.shape[0])

Total rides in March : 15547

In [57]:
# Q3) Calculate no. of rides with total_amount greater than 50
# ----> Same as above we are going to use "boolean algebra"
# 3rd from last col is for total_amount so select it 1st
print('No. of ride amount greater than 50 :' , taxi_data[taxi_data[:, -3] > 50 , -3].shape[0] )

No. of ride amount greater than 50 : 16

In [58]:
# Q4) Calculate the no. of rides where drop was JFK airport
# -----> 
# as we don't have any col for airport name but we have dropoff_location_code for the airports
# now for JFK the code is 2 and the dropoff_location_code is 7 th col 
print('No. of ride from JFK airport :' , taxi_data[taxi_data[:, 6] == 2 , 6].shape[0] )

No. of ride from JFK airport : 11832

In [ ]:
# and as above you can question your dataset according to your tasks or aim
# this is helpful like we answering the perticular question with that we can analyse  the dataset more clearly and also
# in different formats for tasks.